.headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;

  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-width: 1px;
}

.headerNav img {
  padding: 20px;
}
